{% extends 'base.html' %}
{% block content %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Click And Buy</h1>
      <p>Click’n’Buy is an online commerce site that is a platform for selling goods ranging from
electronic appliances to paper napkins.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

</main>


{% endblock %}